@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@0;1&display=swap');

/*-----------Обнуление-----------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Exo 2';
  font-size: 20px;
  color: var(--color-light);
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*-----------Переменные-----------*/

:root {
  --color-light: #cdcdcd;
  --color-gray: #364156;
  --color-blue: #011638;
}

/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

body {
  background-color: var(--color-light);
}

.screen {
  margin: 15vh auto;
  width: 528px;
  height: 626px;
  border-radius: 30px;
  background-color: var(--color-blue);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__form {
  display: flex;
  flex-direction: column;
}

.form__input {
  font-size: 42px;
  text-align: right;
  width: 100%;
  height: 68px;
  padding: 0 20px;
  border: 2px solid var(--color-gray);
  border-radius: 20px;
  background-color: transparent;
  color: inherit;
  transition: background-color 0.2s ease-in-out;
}

.form__label {
  display: block;
  margin-bottom: 8px;
}

.settings__input:focus,
.form__input:focus {
  outline: none;
  background-color: var(--color-gray);
}

.form__btn {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px 20px;
  max-width: 240px;
  background-color: var(--color-gray);
  color: inherit;
  margin: 18px auto 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.form__btn:hover {
  background-color: #1e2b44;
}

.form__btn:active {
  background-color: transparent;
  border: 2px solid var(--color-gray);
}

/* ///////////////////////////////settings/////////////////////////// */

.settings__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__item:not(:last-child) {
  margin-bottom: 35px;
}

.settings__input {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-gray);
  border-radius: 10px;
  background-color: transparent;
  color: inherit;
  transition: background-color 0.2s ease-in-out;
}

/* /////////////////////////////////lang////////////////////// */

.lang {
  padding: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--color-light);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.lang .lang__item {
  transition: none;
}

.lang .lang__item:hover {
  color: inherit;
}

.lang:hover {
  color: var(--color-gray);
}

.lang svg {
  max-width: 33px;
  margin-right: 10px;
  fill: currentColor;
}

.lang__list {
  display: flex;
}

.lang__item:not(:last-child) {
  margin-right: 8px;
}

.lang__item {
  color: var(--color-gray);
  transition: color 0.2s ease-in-out;
}

.lang__item--active,
.lang--active:hover {
  color: inherit;
}

.lang__item:hover {
  color: var(--color-light);
}

/* /////////////////////////////////complex////////////////////// */

.form__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__number svg {
  width: 30px;
}

.form__complex-part,
.form__real-part {
  max-width: 190px;
}

.form__complex-part {
  margin-top: 30px;
  position: relative;
}

.form__deskr {
  color: var(--color-gray);
  font-size: 16px;
}

.form__deskr--big {
  font-style: italic;
  font-size: 42px;
  position: absolute;
  right: -20px;
  bottom: 30px;
}
